*{
    margin: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 120vh;
}

.signupbox
{
    background-color: #333;
    margin-top:70px;
    align-items: center;
    width: 480px;
    height: 640px;
    color: black;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
  
}

h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color:#BBBBBB ;
}

.signupbox label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.signupbox input{
    width: 100%;
    margin-bottom: 20px;
}
.signupbox input[type="text"], input[type="password"],input[type="email"]
{
    padding:20px;
    
    background-color:transparent ;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
   
}
.signupbox input[type="tel"]{
    padding:20px;
  
    background-color:transparent ;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
   background-color: #fff;
}

.signupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:#716969;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    
}
.signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #5762D5;
    color: #000;
}

.signupbox a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}
.signupbox a:hover
{
    color: #5762D5;
    cursor: pointer;
}
.account{
    display: inline;
    color:#BBBBBB;
   
}
